---
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
  return [
    {
      params: { id: 1 },
    },
    {
      params: { id: 2 },
    },
    {
      params: { id: 3 },
    },
  ];
}) satisfies GetStaticPaths;

import Layout from "@/layouts/Layout.astro";
import PricesList from "@/components/Prices.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full">
    <div class="block h-28"></div>
    <PricesList />
  </main>
</Layout>
