---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import PricesList from "@/components/Prices.astro";

export async function getStaticPaths() {
  const PRICES = await getCollection("prices");

  return PRICES.map(({ data }) => {
    return {
      params: { slug: data.slug },
      props: data,
    };
  });
}

const { img, title, desc, tags, slug } = Astro.props;
---

<Layout title={`Project - ${title}`}>
  <main class="w-full mt-40">
    <PricesList />
  </main>
</Layout>
