---
import Layout from "@/layouts/Layout.astro";
import PricesList from "@/components/Prices.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full mt-40">
    <PricesList />
  </main>
</Layout>
