---
import Layout from "@/layouts/Layout.astro";
import Blog from "@/components/Blog.astro";
---

<Layout
  title="Blogs - Audienze Labs LLC"
  description="Welcome to the Audienze Labs blog, where we explore how data and strategy are transforming the video game industry. Dive into articles on the latest gaming trends and uncover how data analytics, marketing, branding, and web development drive success. Stay informed and learn how to take your game to the next level while keeping your audience engaged."
>
  <main>
    <div class="block h-14"></div>
    <Blog />
  </main>
</Layout>
