---
import Layout from "@/layouts/Layout.astro";
import PricesList from "@/components/Prices.astro";
---

<Layout
  title="Services - Audienze Labs LLC"
  description="Maximize your game’s potential with Audienze Labs. From data analytics to marketing strategies, branding, and web development, we create customized solutions that connect you with your audience, enhance player experiences, and drive growth. Let’s collaborate to turn your vision into a success story."
>
  <h1 class="hidden">Services - Audienze Labs LLC</h1>
  <main class="mt-40">
    <PricesList />
  </main>
</Layout>
