---
import Layout from "@/layouts/Layout.astro";

import Testimonials from "@/components/Testimonials.astro";
import Skills from "@/components/Skills.astro";
import CallAction from "@/components/CallAction.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full">
    <Skills />
    <Testimonials />
    <CallAction />
  </main>
</Layout>
