---
import Layout from "@/layouts/Layout.astro";

import Testimonials from "@/components/Testimonials.astro";
import Skills from "@/components/Skills.astro";
import CallAction from "@/components/CallAction.astro";
import AboutHeader from "@/components/About.astro";
import Brands from "@/components/Brands.astro";
import Story from "@/components/Story.astro";
import Team from "@/components/Team.astro";
import OurValues from "@/components/OurValues.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full">
    <AboutHeader />
    <Brands />
    <Story />
    <Team />
    <OurValues />
    <Skills />
    <Testimonials />
    <CallAction />
  </main>
</Layout>
