---
import Layout from "@/layouts/Layout.astro";

import CallAction from "@/components/CallAction2.astro";
import HeroAbout from "@/components/HeroAbout.astro";
import Story from "@/components/Story.astro";
import Team from "@/components/Team.astro";
import OurValues from "@/components/OurValues.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full">
    <HeroAbout />
    <Story />
    <Team />
    <OurValues />
    <CallAction />
  </main>
</Layout>
