---
import Layout from "@/layouts/Layout.astro";

import CallAction from "@/components/CallAction2.astro";
import HeroAbout from "@/components/HeroAbout.astro";
import Story from "@/components/Story.astro";
import Team from "@/components/Team.astro";
import OurValues from "@/components/OurValues.astro";
---

<Layout
  title="About - Audienze Labs LLC"
  description="Audienze Labs  seamlessly integrating data-driven, marketing, neuroscience, and psychology insights, we empower game developers and stakeholders to deeply understand player behavior, preferences, and motivations."
  image="/image/aboutnew.webp"
>
  <main>
    <h1 class="hidden">About - Audienze Labs LLC</h1>
    <HeroAbout />
    <Story />
    <Team />
    <OurValues />
    <CallAction />
  </main>
</Layout>
