---
import Layout from "@/layouts/Layout.astro";
import ContactForm from "@/components/ContactForm.astro";
import Faq from "@/components/Faq.astro";
import Testimonials from "@/components/Testimonials.astro";
import CallAction2 from "@/components/CallAction2.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full">
    <div class="block h-28"></div>
    <ContactForm />
    <Testimonials />
    <Faq />
    <CallAction2 />
  </main>
</Layout>
