---
import Layout from "@/layouts/Layout.astro";
import ContactForm from "@/components/ContactForm.astro";
import Faq from "@/components/Faq.astro";
import Testimonials from "@/components/Testimonials.astro";
import CallAction2 from "@/components/CallAction2.astro";
---

<Layout
  title="Contact Us - Audienze Labs LLC"
  description="Transform your game with tailored data analytics, marketing strategies, web development, and branding. Contact Audienze Labs today to unlock your next level of growth and power your success!"
  image="/image/contact.webp"
>
  <main>
    <div class="block h-28"></div>
    <h1 class="hidden">Contact Us - Audienze Labs LLC</h1>
    <ContactForm />
    <Testimonials />
    <Faq />
    <CallAction2 />
  </main>
</Layout>
