---
import Layout from "@/layouts/Layout.astro";
import ContactForm from "@/components/ContactForm.astro";
import ContactInfo from "@/components/ContactInfo.astro";
import Faq from "@/components/Faq.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full">
    <div class="block h-28"></div>
    <ContactForm />
    <ContactInfo />
    <Faq />
  </main>
</Layout>
