---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Stage from "@/components/Stage.astro";
import Services from "@/components/Services.astro";
import Projects from "@/components/Projects.astro";
import Banner from "@/components/Banner.astro";
import Testimonials from "@/components/Testimonials.astro";
import Skills from "@/components/Skills.astro";
import Blog from "@/components/Blog.astro";
import CallAction from "@/components/CallAction.astro";
import Overview from "@/components/Overview.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full">
    <Hero />
    <Stage />
    <Overview />
    <Services />
    <Banner />
    <Projects />
    <Testimonials />
    <Skills />
    <Blog />
    <CallAction />
  </main>
</Layout>
