---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Stage from "@/components/Stage.astro";
import Services from "@/components/Services.astro";
---

<Layout title="Welcome to Agency.">
  <main class="flex flex-col">
    <Hero />
    <Stage />
    <Services />
  </main>
</Layout>
