---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Stage from "@/components/Stage.astro";
import Services from "@/components/Services.astro";
import Projects from "@/components/Projects.astro";
import Banner from "@/components/Banner.astro";
import Testimonials from "@/components/Testimonials.astro";
import Skills from "@/components/Skills.astro";
import Blog from "@/components/Blog.astro";
import CallAction from "@/components/CallAction.astro";
import Overview from "@/components/Overview.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full">
    <Hero />
    <Stage />
    <Overview />
    <Services />
    <Banner />
    <Projects />
    <Testimonials />
    <Skills />
    <Blog />
    <CallAction />
  </main>
</Layout>
<script>
  const themeToggleDarkIcon = document.getElementById("theme-toggle-dark-icon");
  const themeToggleLightIcon = document.getElementById(
    "theme-toggle-light-icon"
  );

  //if not localStorage found set by browser default
  if (!("color-theme" in localStorage)) {
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      localStorage.setItem("color-theme", "dark");
    } else {
      localStorage.setItem("color-theme", "light");
    }
  }

  // Change the icons inside the button based on previous settings
  if (localStorage.getItem("color-theme") === "light") {
    document.documentElement.classList.remove("dark");
    themeToggleDarkIcon?.classList.toggle("hidden");
  } else {
    document.documentElement.classList.add("dark");
    themeToggleLightIcon?.classList.toggle("hidden");
  }

  var themeToggleBtn = document.getElementById("theme-toggle");

  themeToggleBtn?.addEventListener("click", function () {
    // toggle icons inside button
    themeToggleDarkIcon?.classList.toggle("hidden");
    themeToggleLightIcon?.classList.toggle("hidden");

    // if set via local storage previously
    if (localStorage.getItem("color-theme")) {
      if (localStorage.getItem("color-theme") === "light") {
        document.documentElement.classList.add("dark");
        localStorage.setItem("color-theme", "dark");
      } else {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("color-theme", "light");
      }
    }
  });

  var isNavOpen = false;
  const but = document.querySelector("#menuNavMobileBut");
  const menu = document.querySelector("#menuNavMobile");

  const menuHideClasses = "-translate-y-[120vh]";

  const handleNav = () => {
    if (isNavOpen) {
      menu?.classList.toggle(menuHideClasses);
      isNavOpen = false;
    } else {
      menu?.classList.toggle(menuHideClasses);
      isNavOpen = true;
    }
  };

  but?.addEventListener("click", handleNav);
</script>
