---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Stage from "@/components/Stage.astro";
---

<Layout title="Welcome to Carlita.">
  <main class="flex flex-col">
    <Hero />
    <Stage />
  </main>
</Layout>
