---
import Layout from "@/layouts/Layout.astro";
import Hero2 from "@/components/Hero2.astro";
import Services from "@/components/Services.astro";
import Projects from "@/components/Projects.astro";
import Testimonials from "@/components/Testimonials.astro";
import CallAction2 from "@/components/CallAction2.astro";
import Overview from "@/components/Overview.astro";
import Blog from "@/components/Blog.astro";

export const prerender = true;
---

<Layout
  title="Audienze Labs LLC"
  description="Audienze Labs LLC is specialized in data analytics, programming, and neuromarketing with a sharp focus on the gaming industry."
  image="/image/banner.webp"
>
  <main class="w-full">
    <h1 class="hidden">
      Audienze Labs LLC is specialized in data analytics, programming, and
      neuromarketing with a sharp focus on the gaming industry.
    </h1>
    <Hero2 />
    <Overview />
    <Services />
    <Testimonials />
    <Projects />
    <Blog />
    <CallAction2 />
  </main>
</Layout>
