---
import Layout from "@/layouts/Layout.astro";
import TeamList from "@/components/Team.astro";
import CallAction from "@/components/CallAction.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full">
    <div class="block h-28"></div>
    <TeamList />
    <CallAction />
  </main>
</Layout>
