---
import ArrowRight from "@/components/icons/ArrowRight.astro";

const { href } = Astro.props;
---

<div class="absolute top-0 left-10">
  <a
    href={href}
    class="bg-brand-800 dark:bg-white p-2 rounded-md drop-shadow-xl flex justify-center items-center w-10 hover:bg-brand-950 dark:hover:bg-brand-100"
  >
    <ArrowRight
      className="stroke-white dark:stroke-brand_cyan inline rotate-180"
    />
  </a>
</div>
