---
import GradientLetters from "@/components/GradientLetters.astro";
---

<section
  class="flex flex-col justify-between items-center mx-auto mb-4 lg:mt-20 px-0 lg:px-10"
>
  <div
    class="w-full flex flex-col justify-center items-start max-w-7xl mx-auto px-[10%] lg:px-10 relative bg-call-action bg-cover bg-[-50px] sm:bg-center bg-no-repeat min-h-[30rem]"
  >
    <div
      id="actionBG"
      class="relative flex flex-col lg:flex-row gap-3 justify-start items-start lg:h-full overflow-hidden"
    >
      <div
        id="actionTitle"
        class="flex flex-col justify-center items-center text-center h-1/2 lg:h-full p-4 mb-16"
      >
        <div id="heroText" class="flex flex-col text-left gap-8">
          <div
            class="font-stretchpro text-white uppercase my-0 text-lg lg:text-md tracking-tight max-w-64"
          >
            request a free consultation
          </div>
          <div class="flex flex-col max-w-[500px]">
            <GradientLetters size="xs" name="begin your journey with us" />
            <div class="text-gray-300 tracking-wide text-base text-pretty">
              Join us in revolutionizing the gaming industry!
            </div>
          </div>

          <div
            class="max-w-[26rem] text-gray-300/70 tracking-wide text-base text-pretty"
          >
            <a
              href="/contact"
              class="bg-brand-600 hover:bg-brand-900 px-8 py-2 text-white text-xs font-light rounded-3xl"
              >Get Started</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  /*import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);*/
</script>
