<section
  class="w-full flex flex-col justify-between items-center mx-auto mb-4 mt-20 px-0 lg:px-[10%]"
>
  <div
    class="flex flex-col justify-around items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <div
      class="flex flex-col lg:flex-row gap-3 justify-start items-start h-[800px] w-full lg:h-[500px] bg-secondary-900/30 overflow-hidden"
    >
      <div
        class="flex flex-col justify-center items-center text-center w-full h-1/2 lg:h-full p-4 mb-16"
      >
        <h5
          class="font-archivo font-normal text-xs uppercase leading-5 tracking-[8px] text-secondary-300 mt-4"
        >
          get in touch
        </h5>
        <h2
          class="font-archivo text-5xl text-secondary-50 mt-4 capitalize font-medium"
        >
          Let's Start <br />
          <span class="text-primary-300 font-thin italic">Your Project</span>
        </h2>
        <p
          class="font-archivo text-base font-light text-secondary-300 mt-4 max-w-sm"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          convallis.
        </p>

        <a
          href="#"
          class="flex justify-center items-center px-3 py-6 text-sm bg-primary-300 hover:bg-primary-400 text-secondary-950 cursor-pointer rounded-full uppercase w-full max-w-[15rem] mt-8 transition-colors"
          >get in touch</a
        >
      </div>
      <div
        class="flex flex-col justify-center items-center text-center h-1/2 lg:h-full w-[540px] lg:w-full p-4 relative"
      >
        <img
          src=`${import.meta.env.BASE_URL}/image/projects4.webp`
          class="object-cover h-60 w-full absolute top-0 bottom-auto left-0 md:left-8 lg:left-0 right-0 rotate-[-20deg]"
        />
        <img
          src=`${import.meta.env.BASE_URL}/image/banner-phone.webp`
          class="object-cover h-60 w-full absolute top-24 bottom-auto left-16 md:left-28 lg:left-16 right-0 rotate-[-20deg]"
        />
        <img
          src=`${import.meta.env.BASE_URL}/image/projects3.webp`
          class="object-cover h-60 w-full absolute top-48 bottom-auto left-32 md:left-44 lg:left-32 right-0 rotate-[-20deg]"
        />
      </div>
    </div>
  </div>
</section>
