---
import TitleVertical from "@/components/TitleVertical.astro";
---

<section
  class="w-full flex flex-col justify-between items-center mx-auto mb-4 mt-20 px-0 lg:px-[10%]"
>
  <div
    class="flex flex-col justify-around items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <div
      id="actionBG"
      class="flex flex-col lg:flex-row gap-3 justify-start items-start h-[800px] w-full lg:h-[500px] bg-secondary-900/30 overflow-hidden"
    >
      <div
        id="actionTitle"
        class="flex flex-col justify-center items-center text-center w-full h-1/2 lg:h-full p-4 mb-16"
      >
        <TitleVertical
          title="READY TO LEVEL UP?"
          subtitlePrimary="Begin Your Journey"
          subtitleSecondary="with Us!"
          subtitleBreak="true"
          desc="Join us in revolutionizing the gaming industry!"
        />
        <a
          href={`${import.meta.env.BASE_URL}/contact`}
          class="flex justify-center items-center py-5 text-sm bg-primary-600 dark:bg-primary-300 hover:dark:bg-primary-400 hover:bg-primary-700 text-secondary-50 dark:text-secondary-950 cursor-pointer rounded-full uppercase w-full max-w-[15rem] mt-8 transition-colors tracking-[4px]"
          >get in touch</a
        >
      </div>
      <div
        id="actionImgs"
        class="flex flex-col justify-center items-center text-center h-1/2 lg:h-full w-[540px] lg:w-full p-4 relative"
      >
        <img
          src=`${import.meta.env.BASE_URL}/image/callaction4.webp`
          class="object-cover h-[60rem] w-full absolute -top-20 lg:top-4 bottom-auto left- md:left-32 lg:left-12 right-0 rotate-[-20deg] rounded-full"
        />
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    "#actionBG",
    {
      opacity: 0,
    },
    {
      scrollTrigger: {
        trigger: "#actionBG",
        start: "top center",
        end: "bottom center",
        toggleActions: "play none none none",
      },
      opacity: 100,
      duration: 3,
    }
  );

  gsap.fromTo(
    "#actionTitle",
    {
      y: 100,
      opacity: 0,
    },
    {
      scrollTrigger: {
        trigger: "#actionTitle",
        start: "top center",
        end: "bottom center",
        toggleActions: "play none none none",
      },
      y: 0,
      opacity: 100,
      duration: 2,
    }
  );

  gsap.utils
    .toArray<HTMLElement>("#actionImgs > img")
    .forEach((project, index) => {
      gsap.fromTo(
        project,
        {
          opacity: 0,
          x: 100,
        },
        {
          scrollTrigger: {
            trigger: "#actionImgs",
            start: "top center",
            end: "bottom center",
            toggleActions: "play none none none",
          },
          x: 0,
          opacity: 100,
          duration: 1.5,
          delay: 0.3 * (index + 1),
        }
      );
    });
</script>
