---
import TitleVertical from "@/components/TitleVertical.astro";
import EnvelopIcon from "@/components/icons/Envelop.astro";
import WhatsappIcon from "@/components/icons/Whatsapp.astro";
---

<section class="flex flex-col justify-between items-center mx-auto mb-6">
  <div class="py-4 max-w-md md:max-w-2xl lg:max-w-4xl xl:max-w-6xl">
    <div
      class="flex flex-col justify-center items-center md:items-start mx-auto"
    >
      <TitleVertical
        titlePrimary="request a free "
        titleSecondary="consultation"
        titleBreak
        titleColor
        desc=""
        textAlign="left"
      />
    </div>

    <div
      class="flex flex-col md:flex-row justify-center items-center gap-8 mx-auto mt-10"
    >
      <form id="formContact" class="flex flex-col p-8 min-w-[50%]">
        <div class="flex flex-col items-start">
          <label
            for="Customer-Name"
            class="py-2 px-0 capitalize text-base font-light text-black dark:text-white"
            >name</label
          >
          <input
            name="Customer-Name"
            placeholder="Your Name"
            id="Customer-Name"
            type="text"
            required
            class="w-full min-h-16 bg-white rounded-xl flex justify-center items-center mx-auto align-middle px-4 py-2 text-sm text-gray-900 border-2"
          />
        </div>

        <div class="flex flex-col items-start">
          <label
            for="Customer-Email"
            class="py-2 px-0 capitalize text-base font-light text-black dark:text-white"
            >email</label
          >
          <input
            name="Customer-Email"
            placeholder="Your Email"
            id="Customer-Email"
            type="email"
            required
            class="w-full min-h-16 bg-white rounded-xl flex justify-center items-center mx-auto align-middle px-4 py-2 text-sm text-gray-900 border-2"
          />
        </div>

        <div class="flex flex-col items-start">
          <label
            for="Service"
            class="py-2 px-0 capitalize text-base font-light text-black dark:text-white"
            >service</label
          >
          <select
            name="Customer-Service"
            id="Customer-Service"
            required
            class="w-full min-h-16 bg-white rounded-xl flex justify-center items-center mx-auto align-middle px-4 py-2 text-sm text-gray-900 border-2"
          >
            <option value="Consultation">Consultation</option>
            <option value="Design Services">Design Services</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="flex flex-col items-start pt-2">
          <label
            for="Customer-Message"
            class="py-2 px-0 capitalize text-base font-light text-black dark:text-white"
            >Message Us</label
          >
          <textarea
            name="Customer-Message"
            placeholder="Your Message"
            id="Customer-Message"
            maxlength="5000"
            required
            class="w-full min-h-36 bg-white rounded-xl flex justify-center items-center mx-auto align-middle px-4 py-2 text-sm text-gray-900 border-2"
          ></textarea>
        </div>

        <div class="text-black dark:text-white text-sm font-semibold py-2">
          By submitting this form, you agree to Audienzelabs Terms of Service
          and Privacy Policy.
        </div>

        <input
          id="formButContact"
          type="submit"
          data-wait="Please wait..."
          value="Send Request"
          class="border-solid border-2 border-brand-500 dark:border-brand_cyan px-8 py-2 text-brand-500 dark:text-brand_cyan text-xs font-light rounded-3xl hover:text-white hover:bg-brand-500 hover:dark:text-black hover:dark:bg-brand_cyan hover:cursor-pointer w-52 mt-5"
        />
      </form>
      <div
        class="min-w-[50%] h-full flex flex-col gap-4 justify-start items-start"
      >
        <div class="h-[380px] overflow-hidden rounded-lg mb-10">
          <img
            src={`/image/contact.webp`}
            alt="Contact us"
            class="w-full h-full object-cover object-right"
          />
        </div>
        <div
          class="flex justify-start items-center gap-2 text-black dark:text-white pl-8 md:pl-0"
        >
          <EnvelopIcon className="w-5 fill-brand-500 dark:fill-brand_cyan" />
          hello@audienzelabs.com
        </div>

        <a
          href="https://wa.me/17722655871"
          class="flex justify-start items-center gap-2 text-black dark:text-white pl-8 md:pl-0"
          target="_blank"
        >
          <WhatsappIcon className="w-5 fill-[#5ECD6A]" />
          +1 772 265 5871
        </a>
      </div>
    </div>
  </div>
</section>

<dialog
  id="dialogForm"
  class="max-w-sm w-full bg-brand-500 dark:bg-brand_cyan hover:bg-brand hover:dark:bg-brand_cyan-950 text-white dark:text-black hover:dark:text-gray-200 text-xs font-light rounded-xl relative group/dialog"
>
  <h5
    class="p-10 text-xl font-bold tracking-tight text-white dark:text-black group-hover/dialog:text-white"
  >
    Thank you for your message!
  </h5>
  <button id="closeDialogForm" class="absolute top-2 right-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="icon icon-tabler icons-tabler-filled icon-tabler-square-x"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3zm-9.387 6.21l.094 .083l2.293 2.292l2.293 -2.292a1 1 0 0 1 1.497 1.32l-.083 .094l-2.292 2.293l2.292 2.293a1 1 0 0 1 -1.32 1.497l-.094 -.083l-2.293 -2.292l-2.293 2.292a1 1 0 0 1 -1.497 -1.32l.083 -.094l2.292 -2.293l-2.292 -2.293a1 1 0 0 1 1.32 -1.497z"
      ></path></svg
    >
  </button>
</dialog>

<dialog
  id="dialogFormError"
  class="max-w-sm w-full bg-red-600 hover:bg-red-800 text-white dark:text-black hover:dark:text-gray-200 text-xs font-light rounded-xl relative group/dialog"
>
  <h5
    class="p-10 text-xl font-bold tracking-tight text-white dark:text-black group-hover/dialog:text-white"
  >
    We are experiencing problems at this time
  </h5>
  <button id="closeErrorDialogForm" class="absolute top-2 right-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="icon icon-tabler icons-tabler-filled icon-tabler-square-x"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3zm-9.387 6.21l.094 .083l2.293 2.292l2.293 -2.292a1 1 0 0 1 1.497 1.32l-.083 .094l-2.292 2.293l2.292 2.293a1 1 0 0 1 -1.32 1.497l-.094 -.083l-2.293 -2.292l-2.293 2.292a1 1 0 0 1 -1.497 -1.32l.083 -.094l2.292 -2.293l-2.292 -2.293a1 1 0 0 1 1.32 -1.497z"
      ></path></svg
    >
  </button>
</dialog>

<script>
  import { actions } from "astro:actions";

  const form = document.querySelector("form") as HTMLFormElement,
    dialogForm = document.getElementById("dialogForm") as HTMLDialogElement,
    dialogFormError = document.getElementById(
      "dialogFormError"
    ) as HTMLDialogElement,
    closeErrorDialogForm = document.getElementById("closeErrorDialogForm"),
    closeDialogForm = document.getElementById("closeDialogForm");

  closeDialogForm?.addEventListener("click", (e) => {
    e.preventDefault();

    dialogForm?.close();
  });

  closeErrorDialogForm?.addEventListener("click", (e) => {
    e.preventDefault();

    dialogFormError?.close();
  });

  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    console.log(formData.get);

    const { data, error } = await actions.contact.sendEmail(formData);

    if (error) {
      console.log("error", error.message);
      dialogFormError.showModal();
      return;
    }

    console.log("todo bien", data);
    form?.reset();
    dialogForm.showModal();
  });
</script>
