---
import TitleVertical from "@/components/TitleVertical.astro";
import EnvelopIcon from "@/components/icons/Envelop.astro";
import WhatsappIcon from "@/components/icons/Whatsapp.astro";
---

<section class="flex flex-col justify-between items-center mx-auto mb-6">
  <div class="py-4 max-w-md md:max-w-2xl lg:max-w-4xl xl:max-w-6xl">
    <div
      class="flex flex-col justify-center items-center md:items-start mx-auto"
    >
      <TitleVertical
        titlePrimary="request a free "
        titleSecondary="consultation"
        titleBreak
        titleColor
        desc=""
        textAlign="left"
      />
    </div>

    <div
      class="flex flex-col md:flex-row justify-center items-center gap-8 mx-auto mt-10"
    >
      <form id="formContact" class="flex flex-col p-8 min-w-[50%]">
        <div class="flex flex-col items-start">
          <label
            for="Customer-Name"
            class="py-2 px-0 capitalize text-base font-light text-black dark:text-white"
            >name</label
          >
          <input
            name="Customer-Name"
            placeholder="Your Name"
            id="Customer-Name"
            type="text"
            required
            class="w-full min-h-16 bg-white rounded-xl flex justify-center items-center mx-auto align-middle px-4 py-2 text-sm text-gray-900 border-2"
          />
        </div>

        <div class="flex flex-col items-start">
          <label
            for="Customer-Email"
            class="py-2 px-0 capitalize text-base font-light text-black dark:text-white"
            >email</label
          >
          <input
            name="Customer-Email"
            placeholder="Your Email"
            id="Customer-Email"
            type="email"
            required
            class="w-full min-h-16 bg-white rounded-xl flex justify-center items-center mx-auto align-middle px-4 py-2 text-sm text-gray-900 border-2"
          />
        </div>

        <div class="flex flex-col items-start">
          <label
            for="Service"
            class="py-2 px-0 capitalize text-base font-light text-black dark:text-white"
            >service</label
          >
          <select
            name="Service"
            id="Service"
            required
            class="w-full min-h-16 bg-white rounded-xl flex justify-center items-center mx-auto align-middle px-4 py-2 text-sm text-gray-900 border-2"
          >
            <option value="Consultation">Consultation</option>
            <option value="Design Services">Design Services</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="flex flex-col items-start pt-2">
          <label
            for="Customer-Message"
            class="py-2 px-0 capitalize text-base font-light text-black dark:text-white"
            >Message Us</label
          >
          <textarea
            name="Customer-Message"
            placeholder="Your Message"
            id="Customer-Message"
            maxlength="5000"
            required
            class="w-full min-h-36 bg-white rounded-xl flex justify-center items-center mx-auto align-middle px-4 py-2 text-sm text-gray-900 border-2"
          ></textarea>
        </div>

        <div class="text-black dark:text-white text-sm font-semibold py-2">
          By submitting this form, you agree to Audienzelabs Terms of Service
          and Privacy Policy.
        </div>

        <input
          id="formButContact"
          type="submit"
          data-wait="Please wait..."
          value="Send Request"
          class="border-solid border-2 border-brand-500 dark:border-brand_cyan px-8 py-2 text-brand-500 dark:text-brand_cyan text-xs font-light rounded-3xl hover:text-white hover:bg-brand-500 hover:dark:text-black hover:dark:bg-brand_cyan hover:cursor-pointer w-52 mt-5"
        />
      </form>
      <div
        class="min-w-[50%] h-full flex flex-col gap-4 justify-start items-start"
      >
        <div class="h-[380px] overflow-hidden rounded-lg mb-10">
          <img
            src={`/image/contact.webp`}
            alt="Contact us"
            class="w-full h-full object-cover object-right"
          />
        </div>
        <div
          class="flex justify-start items-center gap-2 text-black dark:text-white pl-8 md:pl-0"
        >
          <EnvelopIcon className="w-5 fill-brand-500 dark:fill-brand_cyan" />
          hello@audienzelabs.com
        </div>
        <div
          class="flex justify-start items-center gap-2 text-black dark:text-white pl-8 md:pl-0"
        >
          <WhatsappIcon className="w-5 fill-[#5ECD6A]" />
          +1 772 265 5871
        </div>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const RESEND_API_KEY = "re_Cay8emts_Cd5WHLj6SHsWEkUV5woBkVhq";
  const form = document.getElementById("formContact");
  const sendBt = document.getElementById("formButContact");

  sendBt?.addEventListener("click", async (e) => {
    e.preventDefault();
    console.log(form);

    const res = await fetch("https://api.resend.com/emails", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${RESEND_API_KEY}`,
        "Access-Control-Allow-Origin": "*",
        "Access-Control-Allow-Methods": "GET,HEAD,OPTIONS,POST,PUT",
        "Access-Control-Allow-Headers":
          "Origin, X-Requested-With, Content-Type, Accept",
      },
      body: JSON.stringify({
        from: "Acme <onboarding@resend.dev>",
        to: ["guillermoveraghanain@gmail.com"],
        subject: "test agencia",
        html: "ajhsdkjas",
      }),
    });

    if (res.ok) {
      const data = await res.json();

      console.log(data);
      return {
        statusCode: 200,
        body: data,
      };
    }
  });
</script>
