---
import EnvelopIcon from "@/components/icons/Envelop.astro";
import MapIcon from "@/components/icons/Map.astro";
import WhatsappIcon from "@/components/icons/Whatsapp.astro";
---

<section
  class="w-full flex flex-col justify-between items-center mx-auto mt-6 mb-36"
>
  <div
    class="w-full max-w-md md:max-w-2xl lg:max-w-4xl xl:max-w-6xl flex flex-col md:flex-row md:flex-wrap justify-between items-center gap-8"
  >
    <div
      class="bg-secondary-900/40 p-10 w-full md:max-w-[calc(50%-1rem)] flex flex-col justify-center items-start gap-2"
    >
      <h5
        class="font-stretchpro text-left uppercase text-xs tracking-[6px] text-secondary-950 dark:text-secondary-50"
      >
        email us
      </h5>
      <div
        class="w-full flex justify-start items-center gap-2 text-secondary-950 dark:text-secondary-50"
      >
        <EnvelopIcon
          className="w-5 fill-secondary-950 dark:fill-secondary-50"
        />
        hello@agencia.com
      </div>
    </div>

    <div
      class="bg-secondary-900/40 p-10 w-full md:max-w-[calc(50%-1rem)] flex flex-col justify-center items-start gap-2"
    >
      <h5
        class="font-stretchpro text-left uppercase text-xs tracking-[6px] text-secondary-950 dark:text-secondary-50"
      >
        location
      </h5>
      <div
        class="w-full flex justify-start items-center gap-2 text-secondary-950 dark:text-secondary-50"
      >
        <MapIcon className="w-5 fill-secondary-950 dark:fill-secondary-50" />
        XYZ ABC, Country, 78910
      </div>
    </div>

    <div
      class="bg-secondary-900/40 p-10 w-full md:max-w-[calc(50%-1rem)] flex flex-col justify-center items-start gap-2"
    >
      <h5
        class="font-stretchpro text-left uppercase text-xs tracking-[6px] text-secondary-950 dark:text-secondary-50"
      >
        chat us
      </h5>
      <div
        class="w-full flex justify-start items-center gap-2 text-secondary-950 dark:text-secondary-50"
      >
        <WhatsappIcon
          className="w-5 fill-secondary-950 dark:fill-secondary-50"
        />
        +(123) - 456 -789
      </div>
    </div>
  </div>
</section>
