---
const { name } = Astro.props;
---

<div
  class="font-inter italic font-thin text-principal-300 uppercase text-[8rem] leading-[7rem] tracking-tight relative"
>
  <div>{name}.</div>
  <div class="absolute top-0 left-3">{name}</div>
</div>
