---
const { name } = Astro.props;
---

<div
  class="font-inter italic font-thin text-primary-600 dark:text-primary-300 uppercase text-[5rem] leading-[5rem] lg:text-[8rem] lg:leading-[7rem] tracking-tight relative"
>
  <div>{name}</div>
  <div class="absolute top-0 left-3">{name}</div>
</div>
