---
import Facebook from "@/components/icons/Facebook.astro";
import Linkedin from "@/components/icons/Linkedin.astro";
---

<footer class="m-8 md:mt-20">
  <div class="max-w-7xl mx-auto px-[10%] lg:px-10">
    <div class="flex items-center justify-between">
      <a
        href="/"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <img
          src=`/image/logo/logo-letras-white.webp`
          class="w-20 md:w-36 hidden dark:block"
          alt="Audienze Labs Logo"
        />
        <img
          src=`/image/logo/logo-letras-blue.webp`
          class="w-20 md:w-36 block dark:hidden"
          alt="Audienze Labs Logo"
        />
      </a>
      <ul
        class="flex flex-wrap justify-end items-center gap-4 mb-6 font-stretchpro uppercase pt-4 pb-2 font-light leading-5 sm:mb-0 group/footer"
      >
        <li>
          <a
            href="/pdfs/Website-Privacy-Policy.pdf"
            target="_blank"
            class="capitalize text-black dark:text-white hover:dark:text-brand_cyan-500 hover:text-brand-500 pt-4 pb-2 text-[0.6rem] sm:text-xs md:text-sm font-bold dark:font-light leading-5"
          >
            Privacy Policy
          </a>
        </li>
        <li>
          <a
            href="/pdfs/Website-Terms-and-Conditions.pdf"
            target="_blank"
            class="capitalize text-black dark:text-white hover:dark:text-brand_cyan-500 hover:text-brand-500 pt-4 pb-2 text-[0.6rem] sm:text-xs md:text-sm font-bold dark:font-light leading-5"
          >
            Terms and Conditions
          </a>
        </li>
      </ul>
    </div>
    <hr class="border-gray-200 sm:mx-auto sm:my-6 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-xs sm:text-sm text-balck dark:text-white sm:text-center"
        >© 2023 <a href="/" class="hover:underline">Audienze Labs</a>. All
        Rights Reserved.
      </span>
      <div class="flex justify-end mt-4 sm:justify-center sm:mt-0">
        <a href="https://www.facebook.com/Audienzelabs" target="_blank">
          <Facebook
            className="size-4 fill-black dark:fill-white hover:fill-brand-500 hover:dark:fill-brand_cyan"
          />
          <span class="sr-only">Facebook</span>
        </a>
        {
          /* <a href="#" class="text-gray-500 hover:text-gray-900 ms-5">
          <X
            className="size-4 fill-black dark:fill-white hover:fill-brand-500 hover:dark:fill-brand_cyan"
          />
          <span class="sr-only">X</span>
        </a>*/
        }
        <a
          href="https://www.linkedin.com/company/audienze-labs/"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 ms-5"
        >
          <Linkedin
            className="size-4 stroke-black dark:stroke-white hover:stroke-brand-500 hover:dark:stroke-brand_cyan"
          />
          <span class="sr-only">LinkedIn</span>
        </a>
        {
          /* <a href="#" class="text-gray-500 hover:text-gray-900 ms-5">
          <YouTube
            className="size-4 stroke-black dark:stroke-white hover:stroke-brand-500 hover:dark:stroke-brand_cyan"
          />
          <span class="sr-only">YouTube</span>
        </a>*/
        }
      </div>
    </div>
  </div>
</footer>
