---
import DobleLetters from "@/components/DobleLetters.astro";
import HeroArrow from "@/components/icons/HeroArrow.astro";
---

<section class="w-full flex justify-between items-center mx-auto py-5">
  <div
    class="flex flex-col lg:flex-row justify-between items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <div class="flex flex-col text-left gap-8 mt-14 w-full">
      <div class="flex flex-col gap-8">
        <div
          class="font-archivo text-secondary-50 uppercase my-0 font-medium text-7xl lg:text-[8rem] lg:leading-[7rem] tracking-tight"
        >
          imagine<span class="text-primary-300">.</span>
        </div>
        <DobleLetters name="create" />
        <div
          class="font-archivo text-secondary-50 uppercase my-0 font-medium text-7xl lg:text-[8rem] lg:leading-[7rem] tracking-tight"
        >
          design<span class="text-primary-300">.</span>
        </div>
      </div>
      <div
        class="max-w-[26rem] text-secondary-50/60 tracking-wide text-base text-pretty"
      >
        A dynamic design agency dedicated to bringing your ideas to life. Where
        creativity meets purpose.
      </div>
    </div>
    <div class="mt-14 md:mt-8 lg:-mt-12">
      <img
        src=`${import.meta.env.BASE_URL}/image/hero-laptop.webp`
        class="object-cover lg:w-full inline-block animate-movelaptop"
      />
    </div>
    <div
      class="absolute top-1/2 left-0 lg:left-1/2 mt-32 ml-16 md:mt-16 lg:-mt-4 lg:-ml-8"
    >
      <a class="flex justify-center items-center" href="/">
        <img
          src=`${import.meta.env.BASE_URL}/image/hero-circle.webp`
          class="size-24 md:size-32 cursor-pointer duration-[5s] animate-spin"
        />
        <HeroArrow className="fill-secondary-50 size-10 absolute" />
      </a>
    </div>
  </div>
</section>
