---
const { title, desc } = Astro.props;
---

<div
  class="flex flex-col justify-start items-start p-2 bg-secondary-900/30 gap-0 w-full"
>
  <h5
    class="font-stretchpro font-semibold dark:font-light text-sm text-left leading-5 tracking-[6px] uppercase text-black dark:text-brand_cyan my-0 mb-1"
  >
    {title}
  </h5>
  <p
    class="max-w-80 text-gray-700 dark:text-gray-300 text-sm lg:text-sm text-pretty my-0 mx-4 md:mx-0 md:text-left"
  >
    {desc}
  </p>
</div>
