---
import TitleV from "@/components/TitleVertical.astro";
import Button from "@/components/Button.astro";
import ArrowRight from "@/components/icons/ArrowRight.astro";
---

<section
  class="flex flex-col justify-between items-center mx-auto md:mt-20 mb-20 md:mb-36"
>
  <div
    class="h-full md:max-w-[720px] lg:max-w-[1200px] mx-auto flex flex-col-reverse lg:flex-row justify-center items-center lg:items-start md:px-4 md:py-5"
  >
    <div class="w-screen h-full lg:max-w-[40%] mt-10 md:mt-0 z-20 relative">
      <img
        id="overviewImg"
        src={`/image/overview.webp`}
        alt="Welcome to Audienze Labs"
        class="object-cover object-right md:rounded-md w-full lg:w-[650px] h-full md:h-[41rem] lg:max-w-none mb-0"
      />
    </div>

    <div class="max-w-xs sm:max-w-sm md:max-w-md lg:max-w-[58%] z-30">
      <div
        id="overviewContainer"
        class="bg-transparent lg:bg-gray-50 lg:dark:bg-brand-950 lg:shadow-md md:p-2 lg:p-14 lg:pl-24 mt-12 rounded-md flex flex-col justify-center items-start gap-4"
      >
        <TitleV
          title="Welcome to Audienze Labs"
          titlePrimary="Welcome to "
          titleSecondary="Audienze Labs"
          titleBreak
          titleColor
          textAlign="left"
          desc=""
        />

        <p class="font-handlee text-gray-700 dark:text-gray-300 text-2xl m-0">
          Together, let's create the future of play.
        </p>

        <p
          class="text-black font-semibold dark:font-normal dark:text-white text-sm leading-9"
        >
          Audienze Labs LLC is specialized in data analytics, programming, and
          neuromarketing with a sharp focus on the gaming industry.
        </p>

        <p
          class="text-black font-semibold dark:font-normal dark:text-white text-sm leading-9"
        >
          <ArrowRight
            className="stroke-brand-500 dark:stroke-brand_cyan inline mb-1"
          />
          Elevate with data analytics that drive better decisions.
        </p>
        <p
          class="text-black font-semibold dark:font-normal dark:text-white text-sm leading-9"
        >
          <ArrowRight
            className="stroke-brand-500 dark:stroke-brand_cyan inline mb-1"
          />
          Engage your audience with captivating web develop and design.
        </p>
        <p
          class="text-black font-semibold dark:font-normal dark:text-white text-sm leading-9"
        >
          <ArrowRight
            className="stroke-brand-500 dark:stroke-brand_cyan inline mb-1"
          />
          Expand your reach with targeted marketing.
        </p>

        {
          /* <div
          class="border-x-0 border-y border-brand_purple-950 dark:border-brand_cyan-950 py-5 mb-4 flex flex-col lg:flex-row items-center justify-center gap-8"
        >
          <div
            class="lg:w-1/2 flex justify-start items-center gap-4 group/abouticon"
          >
            <ClientIcon
              className="size-12 fill-black dark:fill-white group-hover/abouticon:dark:fill-brand_cyan group-hover/abouticon:fill-brand-500"
            />
            <h4
              class="capitalize text-lg font-bold text-black dark:text-white group-hover/abouticon:text-brand-500 group-hover/abouticon:dark:text-brand_cyan"
            >
              Client-Centric Approach
            </h4>
          </div>
          <div
            class="lg:w-1/2 flex justify-start items-center gap-4 group/abouticon"
          >
            <AnalyticIcon
              className="size-12 stroke-black dark:stroke-white group-hover/abouticon:stroke-brand-500 group-hover/abouticon:dark:stroke-brand_cyan"
            />
            <h4
              class="capitalize text-lg font-bold text-black dark:text-white group-hover/abouticon:text-brand-500 group-hover/abouticon:dark:text-brand_cyan"
            >
              Innovation & Creativity
            </h4>
          </div>
        </div>*/
        }

        <Button href="/about/" text="discover more" />
      </div>
    </div>
  </div>
</section>

<script>
  /*import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    "#overviewImg",
    {
      opacity: 0,
    },
    {
      scrollTrigger: {
        trigger: "#overviewImg",
        start: "top center",
        end: "bottom center",
        toggleActions: "play none none none",
      },
      opacity: 100,
      duration: 6,
    }
  );
  gsap.fromTo(
    "#overviewMenssage",
    {
      opacity: 0,
    },
    {
      scrollTrigger: {
        trigger: "#overviewMenssage",
        start: "top center",
        end: "bottom center",
        toggleActions: "play none none none",
      },
      opacity: 100,
      duration: 6,
    }
  );

  gsap.fromTo(
    "#overviewContainer",
    {
      opacity: 0,
      x: 200,
    },
    {
      scrollTrigger: {
        trigger: "#overviewContainer",
        start: "top center",
        end: "bottom center",
        toggleActions: "play none none none",
      },
      x: 0,
      opacity: 100,
      duration: 3,
    }
  );*/
</script>
