---
import HorizontalSplit from "@/components/icons/HorizontalSplit.astro";
import Details from "@/components/icons/Details.astro";
import Deblur from "@/components/icons/Deblur.astro";

import Title from "@/components/Titles.astro";

const SERVICES = [
  {
    icon: "HorizontalSplit",
    title: "design",
    desc: "A passion for design that leaves a lasting impact with your audience.",
    list: ["website design", "logo design", "graphic design", "app ui design"],
  },
  {
    icon: "Details",
    title: "branding",
    desc: "The art of shaping perceptions, emotions, and experiences.",
    list: [
      "identity branding",
      "social media branding",
      "merch branding",
      "app branding",
    ],
  },
  {
    icon: "Deblur",
    title: "prototype",
    desc: "Showcasing the core features and functionalities of an idea.",
    list: [
      "app prototype",
      "software prototype",
      "game prototype",
      "cms prototype",
    ],
  },
];
---

<section
  class="w-full flex flex-col justify-between items-center mx-auto mb-4 mt-20"
>
  <div
    class="flex flex-col justify-around items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <Title
      title="we create "
      titleBlue="Experiences"
      subtitle="Imagine & Design"
      desc="From brand development to captivating user experiences, we specialize in turning concepts into compelling realities."
      layout="right"
    />
  </div>

  <div
    class="flex flex-col md:flex-row justify-center items-center md:flex-wrap md:items-start gap-8 w-full mt-20"
  >
    {
      SERVICES.map(({ icon, title, desc, list }) => (
        <div class="relative overflow-hidden group/card">
          <div class="flex flex-col justify-between items-start h-[480px] w-full max-w-xs lg:max-w-xl bg-secondary-900/30 py-12 px-9 text-left">
            {icon == "HorizontalSplit" && (
              <HorizontalSplit className="fill-primary-300 size-12" />
            )}
            {icon == "Details" && (
              <Details className="fill-primary-300 size-12" />
            )}
            {icon == "Deblur" && (
              <Deblur className="fill-primary-300 size-12" />
            )}
            <div class="flex flex-col justify-center items-start gap-4 text-left w-full">
              <h4 class="uppercase font-archivo text-3xl font-medium my-0 text-secondary-50">
                {title}
              </h4>
              <p class="font-archivo text-base text-secondary-300">{desc}</p>
            </div>
          </div>
          <div class="absolute top-0 left-0 flex flex-col justify-between items-start h-[480px] w-full max-w-xs lg:max-w-lg xl:max-w-xl bg-primary-300 py-12 px-9 text-left [transform:rotateY(90deg)] group-hover/card:[transform:rotateY(0deg)] transition-transform duration-500 ease-in-out">
            {icon == "HorizontalSplit" && (
              <HorizontalSplit className="fill-secondary-950 size-12" />
            )}
            {icon == "Details" && (
              <Details className="fill-secondary-950 size-12" />
            )}
            {icon == "Deblur" && (
              <Deblur className="fill-secondary-950 size-12" />
            )}
            <div class="flex flex-col justify-center items-start gap-4 text-left w-full">
              <h4 class="uppercase font-archivo text-3xl font-medium my-0 text-secondary-950">
                {title}
              </h4>
              <ul class="">
                {list.map((item) => (
                  <li class="font-archivo text-base text-secondary-800 font-light uppercase">
                    • {item}
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
