---
import { getCollection } from "astro:content";
import TitleV from "@/components/TitleVertical.astro";
import ArrowRight from "@/components/icons/ArrowRight.astro";
import Button from "@/components/Button.astro";

const SERVICES = await getCollection("services");
---

<section
  class="flex flex-col justify-between items-center mx-auto mb-4 mt-5 md:mt-20"
>
  <div
    id="servicesTitle"
    class="flex flex-col justify-around items-center max-w-7xl mx-auto px-[10%] lg:px-10 relative"
  >
    <TitleV
      titlePrimary="Where Your Gaming "
      titleSecondary="Journey Begins"
      titleBreak
      titleColor
      desc="From crafting brands to crafting captivating user experiences, Audienze Labs excels in transforming ideas into immersive realities."
      layout="right"
    />
  </div>

  <div
    id="servicesContainer"
    class="flex flex-col md:flex-row justify-center items-center md:flex-wrap md:items-start gap-4 mt-5 md:mt-20 max-w-5xl"
  >
    {
      SERVICES.map(({ data }) => (
        <div class="relative overflow-hidden rounded-2xl hover:drop-shadow-md group/card hover:cursor-pointer">
          <div class="flex flex-col justify-between items-start h-[480px] max-w-xs md:max-w-[23rem] bg-gray-50 dark:bg-brand-950 group-hover/card:bg-white group-hover/card:dark:bg-brand-800/10 py-6 md:py-12 px-9 text-left">
            <div class="flex flex-col justify-center items-start gap-4 text-left">
              <h4 class="uppercase font-stretchpro text-2xl font-medium my-0 text-black dark:text-brand_cyan">
                {data.title}
              </h4>
              <p class="text-base text-black dark:text-white">{data.desc}</p>
            </div>
            <div>
              <p class="text-base text-black dark:text-white">What we do</p>
              <ul class="">
                {data.items.map((item) => (
                  <li class="text-base text-black dark:text-white font-medium dark:font-light capitalize flex flex-row">
                    <ArrowRight className="stroke-brand-500 dark:stroke-brand_cyan" />
                    {item}
                  </li>
                ))}
              </ul>
            </div>
            <div>
              <Button href={`/services/${data.slug}`} text="Learn More" />
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    "#servicesTitle",
    {
      x: 100,
      opacity: 0,
    },
    {
      scrollTrigger: {
        trigger: "#servicesTitle",
        start: "top center",
        end: "bottom center",
        toggleActions: "play none none none",
      },
      x: 0,
      opacity: 100,
      duration: 2,
    }
  );

  gsap.utils
    .toArray<HTMLElement>("#servicesContainer > div")
    .forEach((service, index) => {
      gsap.fromTo(
        service,
        {
          y: 100,
          opacity: 0,
        },
        {
          scrollTrigger: {
            trigger: "#servicesContainer",
            start: "top center",
            end: "bottom center",
            toggleActions: "play none none none",
          },
          y: 0,
          opacity: 100,
          duration: 1.5,
          delay: 0.3 * (index + 1),
        }
      );
    });
</script>
