---
import HorizontalSplit from "@/components/icons/HorizontalSplit.astro";
import Details from "@/components/icons/Details.astro";
import Deblur from "@/components/icons/Deblur.astro";

import Title from "@/components/Titles.astro";

const SERVICES = [
  {
    icon: "HorizontalSplit",
    title: "design",
    desc: "A passion for design that leaves a lasting impact with your audience.",
    list: ["website design", "logo design", "graphic design", "app ui design"],
  },
  {
    icon: "Details",
    title: "branding",
    desc: "The art of shaping perceptions, emotions, and experiences.",
    list: [
      "identity branding",
      "social media branding",
      "merch branding",
      "app branding",
    ],
  },
  {
    icon: "Deblur",
    title: "prototype",
    desc: "Showcasing the core features and functionalities of an idea.",
    list: [
      "app prototype",
      "software prototype",
      "game prototype",
      "cms prototype",
    ],
  },
];
---

<section
  class="w-full flex flex-col justify-between items-center mx-auto mb-4 mt-20"
>
  <div
    id="servicesTitle"
    class="flex flex-col justify-around items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <Title
      title="Where Your Gaming "
      titleBlue="Journey Begins"
      subtitle="vision & craft"
      desc="From crafting brands to crafting captivating user experiences, Audienze Labs excels in transforming ideas into immersive realities."
      layout="right"
    />
  </div>

  <div
    id="servicesContainer"
    class="flex flex-col md:flex-row justify-center items-center md:flex-wrap md:items-start gap-4 w-full mt-20"
  >
    {
      SERVICES.map(({ icon, title, desc, list }) => (
        <div class="relative overflow-hidden rounded-lg group/card">
          <div class="flex flex-col justify-between items-start h-[480px] w-full max-w-xs md:max-w-[23rem] bg-secondary-900/30 py-12 px-9 text-left">
            {icon == "HorizontalSplit" && (
              <HorizontalSplit className="fill-primary-600 dark:fill-primary-300 size-12" />
            )}
            {icon == "Details" && (
              <Details className="fill-primary-600 dark:fill-primary-300 size-12" />
            )}
            {icon == "Deblur" && (
              <Deblur className="fill-primary-600 dark:fill-primary-300 size-12" />
            )}
            <div class="flex flex-col justify-center items-start gap-4 text-left w-full">
              <h4 class="uppercase font-stretchpro text-2xl font-medium my-0 text-secondary-950 dark:text-secondary-50">
                {title}
              </h4>
              <p class="text-base text-secondary-700 dark:text-secondary-300">
                {desc}
              </p>
            </div>
          </div>
          <div class="absolute top-0 left-0 flex flex-col justify-between items-start h-[480px] w-full max-w-xs md:max-w-[23rem] bg-primary-600 dark:bg-primary-300 py-12 px-9 text-left [transform:rotateY(90deg)] group-hover/card:[transform:rotateY(0deg)] transition-transform duration-500 ease-in-out">
            {icon == "HorizontalSplit" && (
              <HorizontalSplit className="fill-secondary-50 dark:fill-secondary-950 size-12" />
            )}
            {icon == "Details" && (
              <Details className="fill-secondary-50 dark:fill-secondary-950 size-12" />
            )}
            {icon == "Deblur" && (
              <Deblur className="fill-secondary-50 dark:fill-secondary-950 size-12" />
            )}
            <div class="flex flex-col justify-center items-start gap-4 text-left w-full">
              <h4 class="uppercase font-stretchpro text-2xl font-medium my-0 text-secondary-50 dark:text-secondary-950">
                {title}
              </h4>
              <ul class="">
                {list.map((item) => (
                  <li class="text-base text-secondary-200 dark:text-secondary-800 font-medium dark:font-light capitalize">
                    • {item}
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    "#servicesTitle",
    {
      x: 100,
      opacity: 0,
    },
    {
      scrollTrigger: {
        trigger: "#servicesTitle",
        start: "top center",
        end: "bottom center",
        toggleActions: "play none none none",
      },
      x: 0,
      opacity: 100,
      duration: 2,
    }
  );

  gsap.utils
    .toArray<HTMLElement>("#servicesContainer > div")
    .forEach((service, index) => {
      gsap.fromTo(
        service,
        {
          y: 100,
          opacity: 0,
        },
        {
          scrollTrigger: {
            trigger: "#servicesContainer",
            start: "top center",
            end: "bottom center",
            toggleActions: "play none none none",
          },
          y: 0,
          opacity: 100,
          duration: 1.5,
          delay: 0.3 * (index + 1),
        }
      );
    });
</script>
