---
import Arrows from "@/components/icons/Arrows.astro";
---

<section
  class="w-full flex justify-between items-center mx-auto pt-24 md:pt-40 lg:pt-16"
>
  <div
    class="flex flex-row justify-around items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <div
      class="font-archivo text-base flex flex-row justify-between items-center gap-4 py-8 h-16 max-w-5xl uppercase text-secondary-700 dark:text-secondary-300 font-medium dark:font-light"
    >
      <Arrows
        className="fill-secondary-800/50 dark:fill-secondary-800/30 size-10 md:size-16"
      />
      start
    </div>

    <div
      class="font-archivo text-base flex flex-row justify-between items-center gap-4 py-8 h-16 max-w-5xl uppercase text-secondary-700 dark:text-secondary-300 font-medium dark:font-light"
    >
      <Arrows
        className="fill-primary-400/60 dark:fill-primary-400/40 size-10 md:size-16"
      />
      execute
    </div>

    <div
      class="font-archivo text-base flex flex-row justify-between items-center gap-4 py-8 h-16 max-w-5xl uppercase text-secondary-700 dark:text-secondary-300 font-medium dark:font-light"
    >
      <Arrows
        className="fill-primary-600 dark:fill-primary-300 size-10 md:size-16"
      />
      launch
    </div>
  </div>
</section>
