---
import AudienzeLabs from "@/components/icons/AudienzeLabs.astro";
---

<section
  class="w-full flex justify-between items-center mx-auto pt-24 md:pt-40 lg:pt-16"
>
  <div
    id="stageContainer"
    class="flex flex-row justify-around items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <div
      class="font-stretchpro text-base flex flex-row justify-between items-center gap-4 py-8 h-16 max-w-5xl uppercase text-secondary-700 dark:text-secondary-300 font-medium dark:font-light"
    >
      <AudienzeLabs
        className="fill-secondary-800/50 dark:fill-secondary-800/30 size-10 md:size-20"
      />
      start
    </div>

    <div
      class="font-stretchpro text-base flex flex-row justify-between items-center gap-4 py-8 h-16 max-w-5xl uppercase text-secondary-700 dark:text-secondary-300 font-medium dark:font-light"
    >
      <AudienzeLabs
        className="fill-primary-400/60 dark:fill-primary-400/40 size-10 md:size-20"
      />
      execute
    </div>

    <div
      class="font-stretchpro text-base flex flex-row justify-between items-center gap-4 py-8 h-16 max-w-5xl uppercase text-secondary-700 dark:text-secondary-300 font-medium dark:font-light"
    >
      <AudienzeLabs
        className="fill-primary-600 dark:fill-primary-300 size-10 md:size-20"
      />
      launch
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.utils
    .toArray<HTMLElement>("#stageContainer > div")
    .forEach((stage, index) => {
      gsap.fromTo(
        stage,
        { y: 100, opacity: 0 },
        {
          scrollTrigger: {
            trigger: "#stageContainer",
            start: "-150 center",
            end: "bottom center",

            toggleActions: "play none none none",
          },
          y: 0,
          opacity: 100,
          duration: 1.5,
          delay: 0.3 * (index + 1),
        }
      );
    });
</script>
