---
import Title from "@/components/Titles.astro";
---

<section
  class="w-full flex flex-col justify-between items-center mx-auto mt-20 mb-36"
>
  <div
    class="flex flex-col justify-around items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <Title
      title="Discover "
      titleBlue="Our Story"
      subtitle="get to know"
      desc="Join us to explore the Audienze Labs difference and unlock your potential for success!"
      layout="right"
    />
  </div>

  <div
    class="flex flex-col lg:flex-row justify-center items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 gap-4 mt-20"
  >
    <img
      src={`${import.meta.env.BASE_URL}/image/story.webp`}
      alt=""
      class="w-full h-[50rem] max-w-md object-cover"
    />
    <div
      class="w-full flex flex-col justify-start items-start gap-4 max-w-md font-archivo text-base md:text-lg font-light text-secondary-700 dark:text-secondary-300 text-pretty"
    >
      <p>
        Welcome to Audienze Labs, where innovation meets imagination in the
        heart of the gaming universe!
      </p>
      <p>
        Rooted in our deep understanding of the importance of the video game
        audience and their insights, Audienze Labs is a dynamic start-up
        positioned at the forefront of the neuromarketing, data analytics, and
        programming industries. With a specialized focus on serving the gaming
        industry, we offer a range of cutting-edge services tailored to game
        developers and stakeholders.
      </p>
      <p>
        Founded on principles of collaboration, creativity, and curiosity, our
        journey began with a simple yet profound mission – to empower gaming
        companies with actionable insights and strategic guidance. Driven by our
        belief in the transformative power of data, we embarked on a journey of
        discovery, unraveling the narratives hidden within the vast expanse of
        gaming data.
      </p>
      <p>
        Our goal stands as a beacon of innovation, inspiring creativity and
        redefining what's possible in the world of gaming. From predicting
        industry trends to understanding player behaviors, we've made it our
        mission to push boundaries and challenge conventions in pursuit of
        excellence.
      </p>
      <p>
        Join us as we explore new worlds, forge new connections, and push the
        boundaries of what's possible in gaming. Together, let's create the
        future of play. Welcome to Audienze Labs – where gaming dreams become
        reality.
      </p>
    </div>
  </div>
</section>
