<section class="flex flex-col justify-between items-center mx-auto mb-36">
  <div
    class="flex flex-col lg:flex-row justify-center items-start max-w-5xl mx-auto px-[10%] lg:px-10 gap-4 mt-20"
  >
    <div
      class="flex flex-col justify-center items-start gap-4 max-w-md text-base font-light text-gray-800 dark:text-gray-400 text-pretty relative"
    >
      <h2
        class=`font-stretchpro uppercase text-black dark:text-white text-2xl md:text-3xl lg:text-4xl font-medium my-0 tracking-tight text-left mb-6`
      >
        our story
        <div class="font-stretchpro font-thin text-xl max-w-96 mt-4">
          where your vision meets our innovation.
        </div>
      </h2>
      <p class="text-sm text-pretty">
        In the heart of the gaming world, where passion meets innovation,
        Audienze Labs was born.
      </p>
      <p class="text-sm text-pretty">
        We started as a group of gamers, dreamers, and tech enthusiasts who saw
        the untapped potential in the games we loved. We noticed that while
        games could captivate and entertain, they often lacked the deeper
        connection that truly resonates with players. We knew there was more to
        discover—hidden stories within the data, untold narratives behind every
        player’s experience.
      </p>
      <p class="text-sm text-pretty">
        Driven by our belief in the power of gaming as an art form, we came
        together with one mission: to bridge the gap between creators and
        players. We wanted to help game developers and marketers unlock the
        secrets of player engagement, using the latest in neuromarketing and
        data analytics. We weren’t just interested in numbers; we were
        fascinated by the human stories they told, the emotions they captured,
        and the experiences they could enhance.
      </p>

      <button
        aria-label="Read more about our story"
        id="readMoreBut"
        class="w-max block capitalize border-solid border-2 border-brand-500 dark:border-brand_cyan px-8 py-2 text-brand-500 dark:text-brand_cyan text-xs font-semibold rounded-3xl hover:text-white hover:bg-brand-500 hover:dark:text-black hover:dark:bg-brand_cyan"
        >Read More</button
      >
      <p id="readMoreText1" class="hidden text-sm text-pretty">
        Audienze Labs was born out of this passion—to turn gaming into something
        greater, to make every game not just played, but truly felt. With every
        project, we push the boundaries of what’s possible, working alongside
        developers to bring their boldest visions to life.
      </p>
      <p id="readMoreText2" class="hidden text-sm text-pretty">
        Our story is just beginning, and we invite you to be part of it.
        Together, we’ll create the future of gaming—one unforgettable experience
        at a time.
      </p>
      <button
        aria-label="Read less about our story"
        class="hidden w-max capitalize border-solid border-2 border-brand-500 dark:border-brand_cyan px-8 py-2 text-brand-500 dark:text-brand_cyan text-xs font-semibold rounded-3xl hover:text-white hover:bg-brand-500 hover:dark:text-black hover:dark:bg-brand_cyan"
        id="readLessBut">Read Less</button
      >
    </div>
    <img
      src={`/image/controlabout.webp`}
      alt="our story, where your vision meets our innovation."
      class="md:max-w-md object-cover p-0 md:pl-20 mt-0 md:mt-48"
    />
  </div>
</section>

<script is:inline>
  const readMoreBut = document.getElementById("readMoreBut"),
    readLessBut = document.getElementById("readLessBut"),
    readMoreText1 = document.getElementById("readMoreText1"),
    readMoreText2 = document.getElementById("readMoreText2");

  readMoreBut?.addEventListener("click", async (e) => {
    e.preventDefault();

    readMoreBut?.classList.toggle("hidden");
    readLessBut?.classList.toggle("hidden");
    readMoreText1?.classList.toggle("hidden");
    readMoreText2?.classList.toggle("hidden");
  });

  readLessBut?.addEventListener("click", async (e) => {
    e.preventDefault();

    readMoreBut?.classList.toggle("hidden");
    readLessBut?.classList.toggle("hidden");
    readMoreText1?.classList.toggle("hidden");
    readMoreText2?.classList.toggle("hidden");
  });
</script>
