---
import MoonButton from "@/components/icons/Moon.astro";
import SunButton from "@/components/icons/Sun.astro";
---

<button id="theme-toggle" type="button" class="text-sm p-2.5 group/mode">
  <SunButton
    id="theme-toggle-dark-icon"
    className="hidden size-7 group-hover/mode:stroke-primary-300 stroke-secondary-950 dark:stroke-secondary-50"
  />
  <MoonButton
    id="theme-toggle-light-icon"
    className="hidden size-6 group-hover/mode:stroke-primary-600 stroke-secondary-950 dark:stroke-secondary-50"
  />
</button>
