---
import TitleV from "@/components/TitleVertical.astro";
import TestimonialsSlider from "@/components/TestimonialsSlider";
---

<section
  class="flex flex-col justify-between items-center mx-auto mb-4 mt-20 bg-brand-100/60 dark:bg-brand_purple-950 py-10"
>
  <div
    id="testimonialsContainer"
    class="flex flex-col justify-around items-center max-w-7xl w-screen mx-auto px-[10%] lg:px-10 relative"
  >
    <TitleV
      titlePrimary="Why Choose"
      titleSecondary="Audienze Labs?"
      titleAltColor
    />

    <div
      class="flex justify-center items-center gap-0 md:gap-2 mt-8 relative clear-both text-center w-full h-full max-w-5xl overflow-hidden"
    >
      <TestimonialsSlider client:load />
    </div>
  </div>
</section>
