---
const { title, subtitlePrimary, subtitleSecondary, subtitleBreak, desc } =
  Astro.props;
---

<h5
  class="font-poppins font-semibold dark:font-light text-xs text-left leading-5 tracking-[8px] uppercase text-secondary-800 dark:text-secondary-200 my-0"
>
  {title}
</h5>
<h2
  class="font-stretchpro uppercase text-secondary-950 dark:text-secondary-50 text-2xl md:text-3xl lg:text-4xl font-medium my-0 tracking-tight"
>
  {subtitlePrimary}

  {subtitleBreak && <br />}

  <span
    class="font-stretchpro text-primary-600 dark:text-primary-300 font-thin italic"
    >{subtitleSecondary}</span
  >
</h2>
{
  desc && (
    <p class="font-poppins text-base font-light text-secondary-700 dark:text-secondary-300 mt-4 max-w-sm">
      {desc}
    </p>
  )
}
