---
const { title, titleBlue, desc, layout } = Astro.props;
---

<div
  class=`w-full flex flex-col-reverse text-center items-center ${layout == "right" ? "lg:flex-row" : "lg:flex-row-reverse"} justify-between gap-4 px-10 xl:px-0`
>
  <div
    class="flex flex-col justify-start items-center lg:items-start gap-4 text-center lg:min-w-80"
  >
    <p
      class="max-w-md font-poppins text-black/60 dark:text-white/60 text-xs lg:text-base text-pretty my-0 mx-4 md:mx-0 text-center lg:text-left"
    >
      {desc}
    </p>
  </div>

  <div class="flex flex-col items-center lg:items-start gap-2">
    <h2
      class="font-stretchpro uppercase text-black dark:text-white text-xl md:text-2xl lg:text-3xl font-medium my-0 tracking-tight lg:text-left"
    >
      {title}

      <div class="text-brand-500 dark:text-brand_cyan">
        {titleBlue}
      </div>
    </h2>
  </div>
</div>
