---
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
  return [
    {
      params: { id: 1 },
    },
    {
      params: { id: 2 },
    },
    {
      params: { id: 3 },
    },
    {
      params: { id: 4 },
    },
  ];
}) satisfies GetStaticPaths;

import Layout from "@/layouts/Layout.astro";
import ProjectsList from "@/components/Projects.astro";
import CallAction from "@/components/CallAction.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full">
    <div class="block h-28"></div>
    <ProjectsList />
    <CallAction />
  </main>
</Layout>
