---
import Layout from "@/layouts/Layout.astro";
import ProjectsList from "@/components/Projects.astro";
import CallAction2 from "@/components/CallAction2.astro";
---

<Layout
  title="Our Projects - Audienze Labs LLC"
  description="See how Audienze Labs is redefining the gaming landscape with innovative, data-powered solutions. Dive into our latest projects and experience firsthand how we elevate engagement and deliver game-changing insights that drive success!"
>
  <h1 class="hidden">Our Projects - Audienze Labs LLC</h1>
  <main class="mt-40">
    <ProjectsList showAll="true" />
    <CallAction2 />
  </main>
</Layout>
