---
import Layout from "@/layouts/Layout.astro";
import ProjectsList from "@/components/Projects.astro";
import CallAction from "@/components/CallAction.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full mt-40">
    <ProjectsList />
    <CallAction />
  </main>
</Layout>
