---
import Layout from "@/layouts/Layout.astro";
import ProjectsList from "@/components/Projects.astro";
import CallAction2 from "@/components/CallAction2.astro";
---

<Layout title="Welcome to Agency.">
  <main class="w-full mt-40">
    <ProjectsList showAll="true" />
    <CallAction2 />
  </main>
</Layout>
